@model ShradhaGeneralBookStore.Models.ViewModel.ShopViewModel


<div class="col-xl-9 col-lg-8 order-1 order-md-2">
       <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-arts" role="tabpanel"
                             aria-labelledby="pills-arts-tab" tabindex="0">

                        </div>

                        <div class="tab-pane fade show active" id="pills-ResearchPublishing" role="tabpanel"
                             aria-labelledby="pills-ResearchPublishing-tab" tabindex="0">
                        <div class="row" id="productList">
                             @foreach (var product in Model.Products)
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="shop-box-items">
                                            <div class="book-thumb center">
                                                <a href="@Url.Action("Details", "Shop", new { id = product.Id })">
                                                    <img src="@Url.Content(product.CoverImage?.ImageUrl)" alt="@product.Name" />
                                                </a>
                                                <ul class="post-box">
                                                    @* @if (product.IsHot) *@
                                                    @* { *@
                                                    @*     <li>Hot</li> *@
                                                    @* } *@
                                                    @* @if (product.DiscountPercent > 0) *@
                                                    @* { *@
                                                    @*     <li>-@product.DiscountPercent%</li> *@
                                                    @* } *@
                                                </ul>
                                                <ul class="shop-icon d-grid justify-content-center align-items-center">
                                                    <li>
                                                        <a href="#"><i class="far fa-heart"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img class="icon" src="~/assets/img/icon/shuffle.svg" alt="svg-icon" />
                                                        </a>
                                                    </li>
                                                    <li>
                                        <a href="@Url.Action("Details", "Shop", new { id = product.Id })"><i class="far fa-eye"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="shop-content">
                                             <h3><a href="@Url.Action("Details", "Shop", new { id = product.Id })">@product.Name</a></h3>
                                                <ul class="price-list">
                                                    <li>$@product.Price.ToString("0.00")</li>
                                                    <li>
                                                        <i class="fa-solid fa-star"></i> 4.5 (99) <!-- Or make this dynamic -->
                                                    </li>
                                                </ul>
                                                <div class="shop-button">
                                              <a href="@Url.Action("Index", "Cart", new { id = product.Id })" class="theme-btn">
                                                        <i class="fa-solid fa-basket-shopping"></i> Add To Cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
            
                        </div>
                        </div>

                    </div>
                    <div class="page-nav-wrap text-center">
                        <ul>
                            <li><a class="previous" href="shop.html">Previous</a></li>
                            <li><a class="page-numbers" href="shop.html">1</a></li>
                            <li><a class="page-numbers" href="shop.html">2</a></li>
                            <li><a class="page-numbers" href="shop.html">3</a></li>
                            <li><a class="page-numbers" href="shop.html">...</a></li>
                            <li><a class="next" href="shop.html">Next</a></li>
                        </ul>
                    </div>
                    </div>
                </div>