
@{
    ViewData["Title"] = "Shop Page";
}
@section Styles{
    <style>
        .selected {
            font-weight: bold;
            color: #FF6500;
            text-decoration: underline;
        }
    </style>
}
<!-- Breadcumb Section Start -->
<div class="breadcrumb-wrapper">
    <div class="book1">
        <img src="~/assets/img/hero/book1.png" alt="book">
    </div>
    <div class="book2">
        <img src="~/assets/img/hero/book2.png" alt="book">
    </div>
    <div class="container">
        <div class="page-heading">
            <h1>Shop Default</h1>
            <div class="page-header">
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".3s">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        Shop Default
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Shop Section Start -->
<section class="shop-section fix section-padding">
    <div class="container">
        <div class="shop-default-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="woocommerce-notices-wrapper wow fadeInUp" data-wow-delay=".3s">
                        <p>Showing 1-3 Of 34 Results </p>
                        <div class="form-clt">
                            <div class="nice-select" tabindex="0">
                                <span class="current">
                                    Default Sorting
                                </span>
                                <ul class="list">
                                    <li data-value="1" class="option selected focus">
                                        Default sorting
                                    </li>
                                    <li data-value="1" class="option">
                                        Sort by popularity
                                    </li>
                                    <li data-value="1" class="option">
                                        Sort by average rating
                                    </li>
                                    <li data-value="1" class="option">
                                        Sort by latest
                                    </li>
                                </ul>
                            </div>
                            <div class="icon">
                                <a href="shop-list.html"><i class="fas fa-list"></i></a>
                            </div>
                            <div class="icon-2 active">
                                <a href="shop.html"><i class="fa-sharp fa-regular fa-grid-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 order-2 order-md-1 wow fadeInUp" data-wow-delay=".3s">
                    <div class="main-sidebar">
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h5>Search</h5>
                            </div>
                            <form action="#" class="search-toggle-box">
                                <div class="input-area search-container">
                                    <input class="search-input" id="searchInput" type="text" placeholder="Search here">
                                    <button class="cmn-btn search-icon">
                                        <i class="far fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div id="filter-panel">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a href="#" class="category-filter" data-category-id="@category.Id">@category.Name</a>
                                        <ul>
                                            @if (Model.SubcategoriesByCategory.ContainsKey(category.Id))
                                            {
                                                foreach (var sub in Model.SubcategoriesByCategory[category.Id])
                                                {
                                                    <li class="ms-4">
                                                        <a class="subcategory-filter" data-subcategory-id="@sub.Id">@sub.Name</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>

                        <div class="single-sidebar-widget mb-50">
                            <div class="wid-title">
                                <h5>Filter By Price</h5>
                            </div>
                            <div class="range__barcustom">
                                <div class="slider">
                                    <div class="progress" style="left: 15.29%; right: 58.9%;"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" id="minPrice" class="range-min" min="0" max="10000" value="2500">
                                    <input type="range" id="maxPrice" class="range-max" min="100" max="10000" value="7500">
                                </div>
                                <div class="range-items">
                                    <div class="price-input">
                                        <div class="d-flex align-items-center">
                                            <a id="filterButton" class="filter-btn mt-2 me-3">Filter</a>
                                            <div class="field">
                                                <span>Price:</span>
                                            </div>
                                            <div class="field">
                                                <span>$</span>
                                                <input type="number" class="input-min" value="100">
                                            </div>
                                            <div class="separators">-</div>
                                            <div class="field">
                                                <span>$</span>
                                                <input type="number" class="input-max" value="1000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-widget mb-0">
                            <div class="wid-title">
                                <h5>By Review</h5>
                            </div>
                            <div class="categories-list">
                                <label class="checkbox-single d-flex align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            <span class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            35
                                        </span>
                                    </span>
                                </label>
                                <label class="checkbox-single d-flex align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            <span class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                            </span>
                                            24
                                        </span>
                                    </span>
                                </label>
                                <label class="checkbox-single d-flex align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            <span class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                            </span>
                                            15
                                        </span>
                                    </span>
                                </label>
                                <label class="checkbox-single d-flex align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            <span class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                            </span>
                                            2
                                        </span>
                                    </span>
                                </label>
                                <label class="checkbox-single d-flex align-items-center">
                                    <span class="d-flex gap-xl-3 gap-2 align-items-center">
                                        <span class="checkbox-area d-center">
                                            <input type="checkbox">
                                            <span class="checkmark d-center"></span>
                                        </span>
                                        <span class="text-color">
                                            <span class="star">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                                <i class="fa-sharp fa-light fa-star"></i>
                                            </span>
                                            1
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("_ProductListPartial", (ShradhaGeneralBookStore.Models.ViewModel.ShopViewModel)Model)


            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        let selectedCategoryId = null;
        let selectedSubcategoryId = null;

        function fetchFilteredProducts() {
            const searchTerm = $('#searchInput').val();
            const minPrice = $('#minPrice').val();
            const maxPrice = $('#maxPrice').val();

            $.ajax({
                url: '@Url.Action("Index", "Shop")',
                type: 'GET',
                data: {
                    searchTerm: searchTerm,
                    categoryId: selectedCategoryId,
                    subcategoryId: selectedSubcategoryId,
                    minPrice: minPrice,
                    maxPrice: maxPrice
                },
                success: function (result) {
                    $('#productList').html($(result).find('#productList').html());
                }
            });
        }

        

             // Category Click
        $(document).on('click', '.category-filter', function (e) {
            e.preventDefault();
            selectedCategoryId = $(this).data('category-id');
            selectedSubcategoryId = null; // Reset subcategory

            // Remove selected class from all
            $('.category-filter').removeClass('selected');
            $('.subcategory-filter').removeClass('selected');

            // Add selected class to this
            $(this).addClass('selected');

            fetchFilteredProducts();
        });
         $(document).on('click', '.subcategory-filter', function (e) {
            e.preventDefault();
            selectedSubcategoryId = $(this).data('subcategory-id');
            selectedCategoryId = null; // Reset subcategory

            // Remove selected class from all
            $('.category-filter').removeClass('selected');
            $('.subcategory-filter').removeClass('selected');

            // Add selected class to this
            $(this).addClass('selected');

            fetchFilteredProducts();
        });

        // Search Input Typing (with small delay)
        let typingTimer;
        $('#searchInput').on('input', function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(fetchFilteredProducts, 500);
        });

        // Filter Button Click
        $('#filterButton').on('click', function () {
            fetchFilteredProducts();
        });
    </script>
}

