
<!doctype html>
<html lang="en" data-bs-theme="blue-theme">
<!-- Mirrored from codervent.com/maxton/demo/vertical-menu/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Dec 2024 17:48:17 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maxton | Bootstrap 5 Admin Dashboard Template</title>
    <!--favicon-->
    <link rel="icon" href="~/assets1/images/favicon-32x32.png" type="image/png">
    <!-- loader-->
    <link href="~/assets1/css/pace.min.css" rel="stylesheet">
    <script src="~/assets1/js/pace.min.js"></script>
    @RenderSection("Styles", required: false)
    <!--plugins-->
    <!-- SweetAlert2 CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="~/assets1/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets1/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets1/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="~/assets1/plugins/simplebar/css/simplebar.css">
    <!--bootstrap css-->
    <link href="~/assets1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="~/assets1/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/sass/main.css" rel="stylesheet">
    <link href="~/sass/dark-theme.css" rel="stylesheet">
    <link href="~/sass/blue-theme.css" rel="stylesheet">
    <link href="~/sass/semi-dark.css" rel="stylesheet">
    <link href="~/sass/bordered-theme.css" rel="stylesheet">
    <link href="~/sass/responsive.css" rel="stylesheet">
    
</head>
<body>
    <!--start header-->
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center gap-4">
            <div class="btn-toggle">
                <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
            </div>
            <div class="search-bar flex-grow-1">
                <div class="position-relative">
                    <input class="form-control rounded-5 px-5 search-control d-lg-block d-none" type="text" placeholder="Search">
                    <span class="material-icons-outlined position-absolute d-lg-block d-none ms-3 translate-middle-y start-0 top-50">search</span>
                    <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 search-close">close</span>
                    <div class="search-popup p-3">
                        <div class="card rounded-4 overflow-hidden">
                            <div class="card-header d-lg-none">
                                <div class="position-relative">
                                    <input class="form-control rounded-5 px-5 mobile-search-control" type="text" placeholder="Search">
                                    <span class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                                    <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 mobile-search-close">close</span>
                                </div>
                            </div>
                            <div class="card-body search-content">
                                <p class="search-title">Recent Searches</p>
                                <div class="d-flex align-items-start flex-wrap gap-2 kewords-wrapper">
                                    <a href="javascript:;" class="kewords">
                                        <span>Angular Template</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>Dashboard</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>Admin Template</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>Bootstrap 5 Admin</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>Html eCommerce</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>Sass</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                    <a href="javascript:;" class="kewords">
                                        <span>laravel 9</span><i class="material-icons-outlined fs-6">search</i>
                                    </a>
                                </div>
                                <hr>
                                <p class="search-title">Tutorials</p>
                                <div class="search-list d-flex flex-column gap-2">
                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">play_circle</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title ">Wordpress Tutorials</h5>
                                        </div>
                                    </div>
                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">shopping_basket</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title">eCommerce Website Tutorials</h5>
                                        </div>
                                    </div>

                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">laptop</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title">Responsive Design</h5>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <p class="search-title">Members</p>

                                <div class="search-list d-flex flex-column gap-2">
                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="memmber-img">
                                            <img src="~/assets/images/avatars/01.png" width="32" height="32" class="rounded-circle" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title ">Andrew Stark</h5>
                                        </div>
                                    </div>

                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="memmber-img">
                                            <img src="~/assets/images/avatars/02.png" width="32" height="32" class="rounded-circle" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title ">Snetro Jhonia</h5>
                                        </div>
                                    </div>

                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="memmber-img">
                                            <img src="~/assets/images/avatars/03.png" width="32" height="32" class="rounded-circle" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title">Michle Clark</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer text-center bg-transparent">
                                <a href="javascript:;" class="btn w-100">See All Search Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav gap-1 nav-right-links align-items-center">
                <li class="nav-item d-lg-none mobile-search-btn">
                    <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">search</i></a>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-bs-auto-close="outside"
                       data-bs-toggle="dropdown" href="javascript:;">
                        <i class="material-icons-outlined">notifications</i>
                        <span class="badge-notify">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                        <div class="px-3 py-1 d-flex align-items-center justify-content-between border-bottom">
                            <h5 class="notiy-title mb-0">Notifications</h5>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret option" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="material-icons-outlined">
                                        more_vert
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-option dropdown-menu-end shadow">
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">inventory_2</i>Archive All
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">done_all</i>Mark all as read
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">mic_off</i>Disable Notifications
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">grade</i>What's new ?
                                        </a>
                                    </div>
                                    <div>
                                        <hr class="dropdown-divider">
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">leaderboard</i>Reports
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notify-list">
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="~/assets/images/avatars/01.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Congratulations Jhon</h5>
                                            <p class="mb-0 notify-desc">Many congtars jhon. You have won the gifts.</p>
                                            <p class="mb-0 notify-time">Today</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="user-wrapper bg-primary text-primary bg-opacity-10">
                                            <span>RS</span>
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Account Created</h5>
                                            <p class="mb-0 notify-desc">From USA an user has registered.</p>
                                            <p class="mb-0 notify-time">Yesterday</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="~/assets/images/apps/13.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Payment Recived</h5>
                                            <p class="mb-0 notify-desc">New payment recived successfully</p>
                                            <p class="mb-0 notify-time">1d ago</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="~/assets/images/apps/14.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Order Recived</h5>
                                            <p class="mb-0 notify-desc">Recived new order from michle</p>
                                            <p class="mb-0 notify-time">2:15 AM</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="~/assets/images/avatars/06.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Congratulations Jhon</h5>
                                            <p class="mb-0 notify-desc">Many congtars jhon. You have won the gifts.</p>
                                            <p class="mb-0 notify-time">Today</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="user-wrapper bg-danger text-danger bg-opacity-10">
                                            <span>PK</span>
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Account Created</h5>
                                            <p class="mb-0 notify-desc">From USA an user has registered.</p>
                                            <p class="mb-0 notify-time">Yesterday</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-md-flex d-none">
                    <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasCart">
                        <i class="material-icons-outlined">shopping_cart</i>
                        <span class="badge-notify">8</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                        <img src="~/assets/images/avatars/01.png" class="rounded-circle p-1 border" width="45" height="45" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
                        <a class="dropdown-item  gap-2 py-2" href="javascript:;">
                            <div class="text-center">
                                <img src="~/assets/images/avatars/01.png" class="rounded-circle p-1 shadow mb-3" width="90" height="90"
                                     alt="">
                                <h5 class="user-name mb-0 fw-bold">Hello, Jhon</h5>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">person_outline</i>Profile
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">local_bar</i>Setting
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">dashboard</i>Dashboard
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">account_balance</i>Earning
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">cloud_download</i>Downloads
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">power_settings_new</i>Logout
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
    </header>
    <!--end top header-->
    <!--start sidebar-->
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="logo-icon">
                <img src="~/assets/images/logo-icon.png" class="logo-img" alt="">
            </div>
            <div class="logo-name flex-grow-1">
                <h5 class="mb-0">Maxton</h5>
            </div>
            <div class="sidebar-close">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
        <div class="sidebar-nav">
            <!--navigation-->
            <!-- Sidebar Navigation -->
            <ul id="sidenav" class="space-y-2 text-sm font-medium">
                <!-- Dashboard -->
                <li>
                    <a href="@Url.Action("Index", "Dashboard")" class="flex items-center p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Dashboard") ? "active" : "")">
                        <i class="material-icons-outlined mr-2">dashboard</i> Dashboard
                    </a>
                </li>

                <!-- Products Dropdown -->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span> Products</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Products")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Products" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Products")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Products" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span> Orders</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "OrderBack")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "OrderBack" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Author-->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Author</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Author")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Author" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Author")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Author" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>
               
                <!--Publisher-->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Publisher</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Publisher")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Publisher" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Publisher")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Publisher" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Category-->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Category</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Category")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Category" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Category")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Category" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Subcategory-->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Subcategory</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Subcategory")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Subcategory" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Subcategory")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Subcategory" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Feed Back -->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Feed Back</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "FeedBack")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "FeedBack" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                    </ul>
                </li>
                <!--FAQs-->
                <li>
                    <a href="#" class="has-arrow flex items-center justify-between p-2 text-white hover:bg-white/10 rounded-lg">
                        <span>Faqs</span>
                        <i class="material-icons-outlined">expand_more</i>
                    </a>
                    <ul class="ml-6 mt-1 space-y-1">
                        <li>
                            <a href="@Url.Action("Index", "Faq")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Faq" && ViewContext.RouteData.Values["action"]?.ToString() == "Index") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Faq")" class="block p-2 text-white hover:bg-white/10 rounded-lg @((ViewContext.RouteData.Values["controller"]?.ToString() == "Faq" && ViewContext.RouteData.Values["action"]?.ToString() == "Create") ? "active" : "")">
                                <i class="material-icons-outlined text-sm mr-2">arrow_right</i> Add New
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <!--end navigation-->
        </div>
    </aside>
    <!--end sidebar-->
    @RenderBody()

    <!--start overlay-->
    <div class="overlay btn-toggle"></div>
    <!--end overlay-->
    <!--start footer-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © 2024. All right reserved.</p>
    </footer>
    <!--end footer-->
    <!--start cart-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart">
        <div class="offcanvas-header border-bottom h-70">
            <h5 class="mb-0" id="offcanvasRightLabel">8 New Orders</h5>
            <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                <i class="material-icons-outlined">close</i>
            </a>
        </div>
        <div class="offcanvas-body p-0">
            <div class="order-list">
                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/01.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">White Men Shoes</h5>
                        <p class="mb-0 order-price">$289</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/02.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Red Airpods</h5>
                        <p class="mb-0 order-price">$149</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/03.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Men Polo Tshirt</h5>
                        <p class="mb-0 order-price">$139</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/04.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Blue Jeans Casual</h5>
                        <p class="mb-0 order-price">$485</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/05.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Fancy Shirts</h5>
                        <p class="mb-0 order-price">$758</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/06.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Home Sofa Set </h5>
                        <p class="mb-0 order-price">$546</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/07.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Black iPhone</h5>
                        <p class="mb-0 order-price">$1049</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>

                <div class="order-item d-flex align-items-center gap-3 p-3 border-bottom">
                    <div class="order-img">
                        <img src="~/assets1/images/orders/08.png" class="img-fluid rounded-3" width="75" alt="">
                    </div>
                    <div class="order-info flex-grow-1">
                        <h5 class="mb-1 order-title">Goldan Watch</h5>
                        <p class="mb-0 order-price">$689</p>
                    </div>
                    <div class="d-flex">
                        <a class="order-delete"><span class="material-icons-outlined">delete</span></a>
                        <a class="order-delete"><span class="material-icons-outlined">visibility</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-footer h-70 p-3 border-top">
            <div class="d-grid">
                <button type="button" class="btn btn-grd btn-grd-primary" data-bs-dismiss="offcanvas">View Products</button>
            </div>
        </div>
    </div>
    <!--end cart-->
    <!--start switcher-->
    <button class="btn btn-grd btn-grd-primary position-fixed bottom-0 end-0 m-3 d-flex align-items-center gap-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
        <i class="material-icons-outlined">tune</i>Customize
    </button>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
        <div class="offcanvas-header border-bottom h-70">
            <div class="">
                <h5 class="mb-0">Theme Customizer</h5>
                <p class="mb-0">Customize your theme</p>
            </div>
            <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                <i class="material-icons-outlined">close</i>
            </a>
        </div>
        <div class="offcanvas-body">
            <div>
                <p>Theme variation</p>

                <div class="row g-3">
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BlueTheme" checked>
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BlueTheme">
                            <span class="material-icons-outlined">contactless</span>
                            <span>Blue</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="LightTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="LightTheme">
                            <span class="material-icons-outlined">light_mode</span>
                            <span>Light</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="DarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="DarkTheme">
                            <span class="material-icons-outlined">dark_mode</span>
                            <span>Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="SemiDarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="SemiDarkTheme">
                            <span class="material-icons-outlined">contrast</span>
                            <span>Semi Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BoderedTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BoderedTheme">
                            <span class="material-icons-outlined">border_style</span>
                            <span>Bordered</span>
                        </label>
                    </div>
                </div><!--end row-->

            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.5/dist/perfect-scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/metismenu@3.0.7/dist/metisMenu.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.44.0/dist/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@6.2.5/dist/simplebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/peity@3.3.0/jquery.peity.min.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Chart Peity Setup -->
    <script>
        $(".data-attributes span").peity("donut");
    </script>

    <!-- Project JS -->
    <script src="~/assets1/js/main.js"></script>
    <script src="~/assets1/js/dashboard1.js"></script>

    <script>
        new PerfectScrollbar(".user-list")
    </script>
    @RenderSection("Scripts", required: false)
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const successMessage = '@TempData["SuccessMessage"]';
            const errorMessage = '@TempData["ErrorMessage"]';
            const warningMessage = '@TempData["WarningMessage"]';

            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: successMessage,
                    background: '#2C2CFF',
                    color: '#fff',
                    confirmButtonColor: '#1e1e2f'
                });
            } else if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                    background: '#2C2CFF',
                    color: '#fff',
                    confirmButtonColor: '#1e1e2f'
                });
            } else if (warningMessage) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Warning',
                    text: warningMessage,
                    background: '#2C2CFF',
                    color: '#fff',
                    confirmButtonColor: '#1e1e2f'
                });
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuItems = document.querySelectorAll("#sidenav > li > a.has-arrow");

            menuItems.forEach(menu => {
                const submenu = menu.nextElementSibling;

                // Collapse all initially
                if (submenu && submenu.tagName === "UL") {
                    submenu.style.display = "none";
                }

                // Expand if contains .active
                const activeLink = submenu?.querySelector("a.active");
                if (activeLink) {
                    submenu.style.display = "block";
                    menu.classList.add("active-parent");
                }

                menu.addEventListener("click", function (e) {
                    e.preventDefault();

                    const currentlyOpen = document.querySelector("#sidenav ul[style*='display: block']");
                    const isAlreadyOpen = submenu.style.display === "block";

                    // Collapse all open dropdowns
                    document.querySelectorAll("#sidenav ul").forEach(ul => {
                        ul.style.display = "none";
                    });
                    document.querySelectorAll("#sidenav a.has-arrow").forEach(a => {
                        a.classList.remove("active-parent");
                    });

                    // Toggle current one only if it was not already open
                    if (!isAlreadyOpen) {
                        submenu.style.display = "block";
                        menu.classList.add("active-parent");
                    }
                });
            });
        });
    </script>


</body>


<!-- Mirrored from codervent.com/maxton/demo/vertical-menu/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Dec 2024 17:49:46 GMT -->
</html>